/*
==================
define common css
==================
*/
@import "function";
@import "normalize";
@import "variable";
@import "mixin";

.element_sp {
  display: block;
  @include pc {
    display: none;
  }
  @include ex-pc {
    display: none;
  }
}

.element_pc {
  display: none;
  @include pc {
    display: block;
  }
  @include ex-pc {
    display: block;
  }
}

img{
  max-width: 100%;
}

body {
  font-family: $font-meiryo;
  font-size: vw-sp(20px);
  line-height: 1.4;
  background: $color1;
  color: #ffffff;
  @include pc{
    font-size: 20px;
  }
  @include ex-pc{
    font-size: 20px;
  }
}





