/*******************************************************************

 define breakpoint

 ******************************************************************/


 $sp: "only screen and (max-width: 767px)";
 $pc: "only screen and (min-width: 768px) and (max-width: 1920px)";
 $ex-pc: "only screen and (min-width: 1921px)";


 @mixin sp() {
   @media #{$sp} {
     @content;
   }
 }

 @mixin pc() {
   @media #{$pc} {
     @content;
   }
 }

 @mixin ex-pc() {
   @media #{$ex-pc} {
     @content;
   }
 }

