/*
=====================
=====================
*/
@font-face {
  font-family: 'century';
  src: url('../font/century/r.ttf')
}

@font-face {
  font-family: 'centurybold';
  src: url('../font/century/b.TTF')
}

@font-face {
  font-family: 'meiryo';
  src: url('/font/meiryo/Meiryo.ttf')
}

@font-face {
  font-family: 'meiryobold';
  src: url('/font/meiryo/MeiryoBold.ttf')
}

#wrapper {
  max-width: 1920px;
  margin: auto;
}

#header {
  position: relative;
  padding: 0;
  margin: 0;
  .header_content {
    padding: 0;
    margin: 0;
    .header_content_left {
      padding: 0;
      margin: 0;
      width: vw-sp(500px);
      position: absolute;
      top: vw-sp(283px);
      left: vw-sp(40px);
      h1 {
        font-size: vw-sp(64px);
        border-bottom: 2px solid $color5;
        line-height: 1;
        padding: 0px 0px vw-sp(17px);
        margin: 0px 0px vw-sp(23px);
        font-family: $font-century;
      }
      p {
        @include sp {
          line-height: 1.7;
        }
      }
    }
    .header_content_right {
      padding: 0;
      margin: 0;
      text-align: center;
      h2 {
        font-size: vw-sp(45px);
        margin: vw-sp(9px) 0px vw-sp(40px);
        color: $color4;
        img {
          margin: 0px vw-sp(5px) 0px 0px;
          @include sp {
            width: vw-sp(434px);
          }
        }
      }
      .content_right_contact {
        font-size: vw-sp(26px);
        .pers {
          display: flex;
          justify-content: center;
          margin: 0px 0px vw-sp(38px);
          color: #000000;
          span {
            padding: 0px vw-sp(23px);
            img {
              @include sp {
                margin-right: vw-sp(5px);
                height: vw-sp(27px);
                width: auto;
              }
            }
          }
        }
        .sdt {
          color: $color3;
          font-size: vw-sp(46px);
          font-family: $font-century;
          img {
            vertical-align: middle;
            @include sp {
              width: vw-sp(38px);
              margin: vw-sp(-7px) vw-sp(8px) 0px vw-sp(-11px);
            }
          }
        }
      }
    }
  }
}

#content {
  padding: 0;
  margin: 0;

  #scrolldown {
    text-align: center;
    padding: vw-sp(60px) 0px 0px;
    color: $color5;
    font-family: $font-century-bold;
    text-transform: uppercase;
    @include sp {
      margin-bottom: vw-sp(170px);
      img {
        display: inline-block;
        width: vw-sp(30px);
        margin-top: vw-sp(10px);
      }
    }
  }
  #lawyers {
    padding: 0;
    margin: 0;
    position: relative;
    @include sp {
      background-image: url("/img/bg_lawyers_sp.png");
      padding-top: vw-sp(146px);
    }
    background-image: url("/img/bg_lawyers.png");
    background-repeat: no-repeat;
    .lawyers {
      padding: 0px vw-sp(40px) vw-sp(0px);
    }
    .accesss {
      padding: vw-sp(128px) vw-sp(40px) vw-sp(109px);
      margin-top: vw-sp(-5px);
      background-image: url("/img/bg_accsess_sp.png");
      @include sp {
        background-size: cover;
        background-position: bottom center;
      }
      .access-inner {
        max-width: vw-sp(480px);
      }
      h3 {
        font-size: vw-sp(64px);
        color: $color5;
        border-bottom: 1px solid #ffffff;
        margin: vw-sp(0px) 0px vw-sp(10px);
        font-family: $font-century;
        @include sp{
          padding-bottom:vw-sp(10px);
        }
        img{
          width: vw-sp(25px);
          margin-right:vw-sp(13px);
        }
      }
      span {
        font-size: vw-sp(26px);
      }
    }
    .lawyer-person {
      font-size: vw-sp(26px);
      color: #000000;
      padding: 0px vw-sp(40px) vw-sp(40px);
      @include sp {
        position: absolute;
        top: vw-sp(-41px);
        right: 0;
      }

      h3 {
        font-size: vw-sp(64px);
        color: $color5;
        font-family: $font-century;
        border-bottom: 1px solid $color2;
        @include sp {
          padding-bottom: vw-sp(9px);
          margin-bottom: vw-sp(11px);
          width: vw-sp(480px);
          img {
            width: vw-sp(46px);
          }
        }
      }
    }
    .profil {
      img {
        @include sp {
          width: vw-sp(670px);
        }
      }
      .profil-content {
        color: #000000;
        padding: vw-sp(0px) vw-sp(40px) vw-sp(50px);
        margin: 0px vw-sp(-40px);
        background-color: $color3;
        .profil-inner {
          background: #ffffff;
          padding: vw-sp(35px) vw-sp(40px) vw-sp(75px);
          border-bottom: vw-sp(5px) solid #1f4e42;
        }
        .p1 {
          font-size: vw-sp(28px);
          margin: 0px 0px vw-sp(17px);
        }
        h3 {
          font-size: vw-sp(64px);
          margin: vw-sp(20px) 0px vw-sp(25px);
          line-height: 1;
        }
        span {
          font-size: vw-sp(28px);
          color: $color5;
          @include sp {
            display: inline-block;
            margin-bottom: vw-sp(40px);
          }
        }
        hr {
          border-top: 1px solid #cccccc;
          border-bottom: 1px solid #e0e0e0;
          @include sp {
            margin: 0 0px vw-sp(33px);

          }
        }
        .p2 {
          @include sp {
            line-height: 1.6;
          }
        }
      }
    }
    .corp-custom {
      padding: vw-sp(0px) vw-sp(40px) 0px;
      background-color: $color3;
      margin: vw-sp(0px) vw-sp(-40px);
      @include sp {
        font-size: vw-sp(28px);
        p {
          line-height: 1.75;
        }
      }
      h2 {
        font-size: vw-sp(44px);
        margin: vw-sp(0px) 0px vw-sp(35px);
        font-family: $font-meiryo-bold;
        letter-spacing: vw-sp(2px);
        line-height: 1.45;
      }
    }
  }
  #map {
    height: vw-sp(750px);
    width: 100%;
    background: #000;
    @include sp{
      margin-top:vw-sp(-41px);
    }
  }
  #where {
    color: #000000;
    text-align: center;
    padding: vw-sp(44px) vw-sp(40px) vw-sp(27px);
    margin: 0;
    @include sp{
      p{
        font-size: vw-sp(26px);
        line-height: 1.7;
      }
    }
    h4 {
      font-size: vw-sp(44px);
      color: #000;
    }
    & > span {
      height: 1px;
      background-color: $color3;
      width: vw-sp(130px);
      display: block;
      margin: vw-sp(34px) auto vw-sp(20px);
    }
    h3 {
      font-size: vw-sp(64px);
      color: $color5;
      font-family: $font-century;
      @include sp{
        margin-top:vw-sp(68px);
        margin-bottom: vw-sp(8px);
        img{
          width: vw-sp(43px);
          margin-right:vw-sp(10px);
          margin-left: vw-sp(6px);
        }
      }
    }
    .p3 {
      font-size: vw-sp(26px);
      @include sp{
        margin-bottom:vw-sp(35px);
      }
    }
    .where-font {
      padding: vw-sp(39px) vw-sp(20px) vw-sp(30px);
      border: 1px solid $color4;
      font-size: vw-sp(26px);
      border-radius: vw-sp(10px);
      @include sp{
        box-shadow: 0px vw-sp(4px) 1px 1px #c6c6be;
        &>img{
          margin:auto;
        }
      }
      h3 {
        font-size: vw-sp(64px);
        color: $color3;
        font-family: $font-century;
        @include sp{
          margin:vw-sp(12px) 0px vw-sp(19px);
          img{
            width: vw-sp(55px);
            margin:0px vw-sp(10px) vw-sp(-3px) vw-sp(-22px);
          }
        }
      }
      .img1{
        width: vw-sp(396px);
      }
      span {
        display: block;
        img{
          @include sp{
            width: vw-sp(310px);
          }
        }
      }
    }
  }
}

#footer {
  padding: vw-sp(77px) 0px vw-sp(107px);
  background: url("/img/bg_footer_sp.png");
  background-size: 100%;
  text-align: center;
  @include sp{
    margin-top:vw-sp(120px);
  }
  #scrolltop {
    color: $color5;
    margin: 0px 0px vw-sp(76px);
    font-family: $font-century-bold;
    img{
      @include sp{
        width:vw-sp(33px);
        margin-left: vw-sp(-3px);
        margin-top: vw-sp(6px);
      }
    }
  }
  .footer-contact {
    padding: 0px 0px vw-sp(102px);
    @include sp{
      font-size:vw-sp(26px);
    }
    h2 {
      font-size: vw-sp(45px);
      margin: 0px 0px vw-sp(40px);
      img {
        @include sp{
          width: vw-sp(434px);
        }
      }
    }
    span {
      @include sp{
        padding: 0px vw-sp(23px);
        img {
          margin-right: vw-sp(5px);
          height: vw-sp(27px);
          width: auto;
        }
      }
    }
  }
  .coppyright {
    color: $color5;
    font-family: $font-century;
    @include sp{
      font-size:vw-sp(24px);
    }
  }
}
