
@include pc{


/*
=====================
=====================
*/


#wrapper {
  max-width: 1920px;
  margin: auto;
}

#header {
  position: relative;
  padding: 0;
  margin: 0;
  .header_content {
    padding: 0;
    margin: 0;
    .header_content_left {
      padding: 0;
      margin: 0;
      width: 515px;
      position: absolute;
      top: 34.2%;
      left: 24%;
      h1 {
        border-bottom: 1px solid $color5;
        font-size: 45px;
        line-height: 1.2;
        padding: 0px 0px 18px 0;
        margin: 0px 0px 10px 0;
        display: inline-block;
        letter-spacing: -0.4px;
      }
      p{
        font-size: 16px;
        letter-spacing: -1.2px;
        line-height: 28px;
      }
    }
    .header_content_right {
      padding: 0;
      margin: -6.3% 0 0 29.7%;
      text-align: center;
      h2 {
        font-size: 45px;
        margin: 0px 0px 40px;
        img {
          margin: 0px 5px 0px 0px;
        }
      }
      .content_right_contact {
        font-size: 16px;
        display: flex;
        margin: 0 45px 0 0;
        justify-content: center;
        .pers {
          display: flex;
          justify-content: center;
          margin: 0px 0px 60px;
          span {
            padding: 0px 13px 0 19px;
            img{
              vertical-align: middle;
              margin: 0px 2px 0px 0px;
            }
            img.icon_introduce{
              width: 18px;
              height: 18px;
            }
            img.icon_access{
              width: 10px;
              height: 18px;
            }
          }
        }
        .sdt {
          font-size: 28.8px;
          margin: -13px 0 0;
          letter-spacing: 1px;
          img {
            vertical-align: middle;
            width: 25px;
            height: 25px;
            margin: -3px 5px 0 14px;
          }
        }
      }
    }
  }
}

#content {
  padding: 0;
  margin: 0;

  #scrolldown {
    text-align: center;
    font-size: 12px;
    padding: 15px 0px 0;
    text-transform: uppercase;
    img{
      margin: 6px 0 0;
    }
  }
  #lawyers {
    padding: 0;
    margin: 105px 0 0 0;
    background-image: url("/img/bg_lawyers.png");
    background-repeat: no-repeat;
    .lawyers {
      padding: 15px 0 0px;
      width: 800px;
      display: block;
      margin: auto;
    }
    .accesss{
      padding: 120px 0 53px;
      background-image: none;
      text-align: left;
      margin: 0px 0 0 29.1%;
      .access-inner{
        max-width: 300px;
      }
      h3{
        font-size: 45px;
        border-bottom: 1px solid #ffffff;
        margin: 0px 0px 2px;
        padding: 0 0 4px;
        letter-spacing: -2px;
        img{
          margin: 10px 8px 0 0;
          width: 20px;
          height: 30px;
        }
      }
      span{
        font-size: 16px;
      }
    }
    .lawyer-person {
      font-size: 16px;
      padding: 7px 0 40px;
      text-align: center;
      margin: 0px 0 0 30.7%;
      h3 {
        font-size: 45px;
        width: 300px;
        text-align: right;
        border-bottom: 1px solid #76a665;
        margin: -10px 0px 7px 35.4%;
        line-height: 0;
        padding: 0 0 19px;
        img{
          margin: 10px 8px 0 0;
          width: 30px;
          height: 30px;
        }
      }
      p{
        margin: 0 0 0 10%;
      }
    }
    .profil{
      display: flex;
      justify-content: center;
      border-bottom: 5px solid #1f4e42;
      img{
        width: 400px;
        height: 400px;
      }
      .profil-content{
        color: #000000;
        padding: 0;
        margin: 0;
        width: 400px;
        height:400px;
        .profil-inner{
          padding: 38px 40px 35px;
          border-bottom: none;
        }
        .p1{
          font-size: 18px;
          margin:0px 0px 11px;
        }
        p{
          font-size: 12px;
        }
        h3{
          font-size: 40px;
          margin: 13px 0px 13px;
          line-height: 1;
          letter-spacing: 3px;
        }
        span{
          font-size: 18px;
        }
        hr {
          margin-top: 21px;
          margin-bottom: 18px;
        }
        p.p2{
          font-size: 13px;
          line-height: 20px;
        }
      }
    }
    .corp-custom{
      padding: 30px 38px 0px;
      margin: 0 -40px;
      font-size: 15px;
      line-height: 30px;
      background-color: initial;
      h2{
        font-size: 28px;
        margin: 0px 0px 21px;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 41px;
      }
    }
  }
  #map{
    height:300px;
    width: 100%;
  }
  #where{
    text-align: center;
    padding: 57px 40px;
    margin: 0;
    h4{
      font-size: 28px;
      color: #000;
    }
    p{
      font-size: 16px;
      line-height: 28px;
    }
    &>span{
      height:1px;
      width: 80px;
      display: block;
      margin: 20px auto 12px;
    }
    h3{
      font-size: 45px;
      margin: 130px 0 0;
      letter-spacing: -1px;
      line-height: 78px;
      img{
        width: 33px;
        height: 30px;
        margin: 0 5px 0 0;
      }
    }
    .p3{
      font-size: 16px;
    }
    .where-font{
      border:1px solid $color4;
      padding: 40px 20px 0;
      font-size: 26px;
      width: 800px;
      display: block;
      margin: 28px auto 0;
      border-radius: 10px;
      h3{
        font-size:64px;
      }
      span{
        display: block;
      }
    }
  }
}


#footer{
  padding:60px 0px 50px;
  background: url("/img/bg_footer_sp.png");
  background-size: 100%;
  text-align: center;
  #scrolltop{
    margin:0px 0px 40px;
  }
  .footer-contact{
    padding:0px 0px 40px;
    h2 {
      font-size: 45px;
      margin: 0px 0px 40px;
      img {
        margin: 0px 5px 0px 0px;
      }
    }
  }
  .coppyright{
  }
}

}