/*
======================
define variable
======================
*/

/*
======================
define font-family
======================
*/
//$font-meiryo:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-meiryo:"meiryo";
$font-meiryo-bold:"meiryobold";
$font-century:"century";
$font-century-bold:"centurybold";


/*
======================
define font-size
======================
*/



/*
======================
define color
======================
*/

$color1:#ECECE2;
$color2:#A6C59B;
$color3:#307865;
$color4:#103339;
$color5:#B8A144;

